{% extends 'head.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row mt-5">
    {% for user in users %}
    <div class="card bg-dark col-4 p-0">
      <img class="card-img-top offset-3 p-5" src="{{user.image.url}}" alt="Card image cap" style="width:200px; border-radius:50%">
      <div class="card-body">
        <h3 class="card-title text-center">{{user.name}}</h3>
        <a href="{% url 'user_view' user.id %}">@{{user.username}}</a>
        <p class="card-text">{{user.bio}}</p>
      </div>
      <div class="card-footer">
          {% for room in rooms %}
            {% if forloop.counter == user.id %}
                <small class="text-muted">Number of rooms : {{room}}</small> <br>
            {% endif %}
          {% endfor %}
          {% for message in room_messages %}
            {% if forloop.counter == user.id %}
              <small class="text-muted">Number of messages : {{message}}</small>
            {% endif %}
          {% endfor %}
          
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}